<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <link rel="stylesheet" href="static/css/open-iconic-bootstrap.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"></script>

    <!-- our own css -->
    <link rel="stylesheet" href="static/css/mytwitter.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My Twitter</title>

    <!-- Bootstrap Table -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.21.2/dist/bootstrap-table.min.js"></script>
</head>

<body authenticated="{{ 'true' if current_user.is_authenticated else 'false' }}" 
      name="{{current_user.name}}"
      email="{{current_user.email}}"
      avatar_url="{{current_user.avatar_url}}"
      id="{{current_user.owner_id}}"
      email="{{current_user.email}}">
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{{ url_for('lab13_index') }}"><span class="oi oi-home"></span> Home</a>
        <a class="nav-item nav-link" href="{{ url_for('lab13_profile') }}"><span class="oi oi-bolt"></span> Profile</a>
        <a class="nav-item nav-link" href="#"><span class="oi oi-bell"></span> Notifications</a>
        <a class="nav-item nav-link" href="#"><span class="oi oi-envelope-open"></span> Messages</a>
      </div>
      <form class="form-inline">
        <input class="form-control" id="nav-search" type="search" placeholder="Search Twitter"> &nbsp;
        {% if not current_user.is_authenticated %}
          <a href="{{ url_for('lab13_login') }}">
            <button class="btn" id="add_tweet" type="button">Tweet</button> &nbsp;
          </a>
        {% else %}
          <button class="btn" id="add_tweet" type="button">Tweet</button> &nbsp;
          <a href="{{ url_for('lab13_profile') }}">
            <img class="tw-user-small rounded-circle" src="{{current_user.avatar_url}}"> &nbsp;
          </a>
          <a href="{{ url_for('lab13_logout') }}">
            <button class="btn" id="logout" type="button">Logout</button>
          </a>
        {% endif %}
      </form>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div id="left_3" class="col-md-3">
        <div class="content-box">Account details</div>
        <div class="content-box">Trends</div>
      </div>

      <div id="center_6" class="col-md-6">
        <div class="input-box">
          <div class="new-tweet-row">
            <div id="new-tweet-row" hidden="hidden">
              <div class="row">
                <div class="col-md-2 text-center">
                  <img class="tw-user-medium rounded-circle" src="{{current_user.avatar_url}}">
                </div>
                <div class="col-md-9">
                  <id="add-edit" class="container">
                    <form id="addTweetForm">
                      <input type="text" id="name" class="form-control" name="name" value ="{{current_user.name}}" hidden="hidden" required> 
                      <input type="email" id="email" class="form-control" name="email" value ="{{current_user.email}}" hidden="hidden" required>
                      <textarea id="message" class="form-control" name="message" placeholder="Write something..." rows="5"
                        required></textarea>
                      <br>
                      <input type="hidden" id="entryid" name="id" value="{{current_user.owner_id}}">
                      <input type="hidden" id="avatar_url" name="avatar_url" value="{{current_user.avatar_url}}">
                      <input class="form-control col-3 add-button" type="submit" name="submit" value="Submit">
                      <button class="form-control col-3 add-button" id="clear_form" type="button">Clear</button>
                      <button class="form-control col-3 add-button" id="cancel_form" type="button">Cancel</button>
                    </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="post-box">
        </div>

        <div id='a'></div>
      </div>

      <div id="right_3" class="col-md-3">
        <div class="content-box">Carsar is following</div>
      </div>
    </div>
  </div>

    <script>

        $('#addTweetForm input').keydown(function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
            $('#addTweetForm').submit();
          }
        });
        
        $("#addTweetForm").submit(function (event) {
            // prevent default html form submission action
            event.preventDefault();

            // pack the inputs into a dictionary
            var formData = {};
            $(":input").each(function () {
              var key = $(this).attr('name');
              var val = $(this).val();

              if (key != 'submit') {
                formData[key] = val;
              }

            });

            var $form = $(this);
            var url = $form.attr("action");

            // make a POST call to the back end w/ a callback to refresh the table
            $.post(url, formData, function (blogentry_data) {
              clearForm();
              refresh_tweet(blogentry_data);
              toggleView();
            });
          });

        $(document).ready(function () {
          const authenticated = document.querySelector('body').getAttribute('authenticated');
          console.log(authenticated);
            (function () {
                $.getJSON("lab11/blogentry", runBlog);
            })();
        });

        function refresh_tweet(blogentry_data) {
            $(".post-box").empty();
            runBlog(blogentry_data);
          }

        window.operateEvents = {
            'click .edit': function (e, value, row, index) {
              prePopulateForm(row);
            },
            'click .remove': function (e, value, row, index) {
              removeItem(row);
            }
        }

        function prePopulateForm(id) {
            $('#addTweetForm')[0].reset();
            $('#name').val(document.getElementById("name" + id).innerHTML)
            $('#email').val(document.getElementById("email" + id).innerHTML)
            $('#message').val(document.getElementById("message" + id).innerHTML)
            $('#entryid').val(id);
            const avatar_url = document.querySelector('body').getAttribute('avatar_url');
            $('#avatar_url').val(avatar_url)
            toggleView();
        }

        function removeItem(id) {
            console.log(id);
            if (!confirm("Are you sure to delete this?")) {
              return false;
            }
            
            var url = "/lab11/remove_blogentry"
            var formData = { 'id': id };
            $.post(url, formData, function (blogentry_data) {
              refresh_tweet(blogentry_data);
            });
        }

        function clearForm() {
          $('#addTweetForm')[0].reset();
          $('#entryid').val('');
        }

        function toggleView() {
          if ($('#new-tweet-row').attr('hidden')) {
            $('#new-tweet-row').removeAttr('hidden');
          } else {
            $('#new-tweet-row').attr('hidden', 'hidden');
          }
        }

        function runBlog(blogentry_data) {
          $.each(blogentry_data, function (i, item) {
            console.log(item.id + ' ' + item.name + ' ' + item.email + ' ' + item.message + ' ' + item.date_created)
            createBlog(item.id, item.name, item.avatar_url, item.email, item.message, item.date_created)
          });
        }

        function createBlog(id, name, avatar_url, email, message, date_created) {
            console.log('create')
            var newTweet = $("<div>").addClass("tweet");
            var newRow = $("<div>").addClass("row").appendTo(newTweet);
            var newL = $("<div>").addClass("col-md-2 text-center").appendTo(newRow);
            var newImg = $("<img>").addClass("tw-user-medium rounded-circle").attr("src", avatar_url).appendTo(newL);
            var newR = $("<div>").addClass("col-md-10").appendTo(newRow);
            var newInfo = $("<div>").addClass("row tweet-info").appendTo(newR);
            var newContainUser = $("<div>").addClass("col-md-auto").appendTo(newInfo);
            var newUserName = $("<span>").addClass("tweet-username").attr('id', 'name'+id).text(name + ' ').appendTo(newContainUser);
            var newUserTag = $("<span>").addClass("tweet-usertag text-muted").attr('id', 'entryid'+id).text('@' + id + ' ').appendTo(newContainUser);
            var newAge = $("<span>").addClass("tweet-age text-muted").text(edit_time(date_created)).appendTo(newContainUser);
            var newContainBottomArrow = $("<div>").addClass("col tweet-arrow text-muted").appendTo(newInfo);
            var newBottomArrow = $("<span>").addClass("oi oi-arrow-thick-bottom float-right").appendTo(newContainBottomArrow);
            var newText = $("<div>").addClass("tweet-text").attr('id', 'message'+id).text(message).appendTo(newR);
            var newEmail = $("<div>").addClass("tweet-usertag text-muted").attr('id', 'email'+id).text(email).appendTo(newR);

            const x = document.querySelector('body').getAttribute('authenticated');
            console.log(x);
            const authenticated = document.querySelector('body').getAttribute('authenticated');
            const userEmail = document.querySelector('body').getAttribute('email');
            if (authenticated === 'true' && userEmail === email) {
              var newContainIcon = $("<div>").addClass("row text-muted").appendTo(newR);
              var newContainIconA = $("<div>").addClass("col-md-2").appendTo(newContainIcon);
              var newIconA = $("<span>").addClass("oi oi-heart").appendTo(newContainIconA);
              var newContainIconB = $("<div>").addClass("col-md-2").appendTo(newContainIcon);
              var newIconB = $("<span>").addClass("oi oi-loop-circular").appendTo(newContainIconB);
              var newContainIconC = $("<div>").addClass("col-md-2").appendTo(newContainIcon);
              var newIconC = $("<a>").addClass("oi oi-pencil edit")
                                    .attr('href', 'javascript:void(0)')
                                    .appendTo(newContainIconC);
                  $(newIconC).on('click', function() {
                      prePopulateForm(id);
                  });
              var newContainIconD = $("<div>").addClass("col-md-2").appendTo(newContainIcon);
              var newIconD = $("<a>").addClass("oi oi-trash remove")
                                    .attr('href', 'javascript:void(0)')
                                    .appendTo(newContainIconD);
                  $(newIconD).on('click', function() {
                      removeItem(id);
                  });
            }
            $(newTweet).prependTo('.post-box');
        };

        function edit_time(date_created) {
          var givenTime = new Date(date_created);
          var currentTime = new Date();

          var elapsedTime = currentTime.getTime() - givenTime.getTime();

          var seconds = Math.floor(elapsedTime / 1000);
          var minutes = Math.floor(seconds / 60);
          var hours = Math.floor(minutes / 60);
          var days = Math.floor(hours / 24);
          var months = Math.floor(days / 30);
          var years = Math.floor(months / 24);

          var elapsedString = '';
          if (years > 0) {
              elapsedString += years + ' years';
              return elapsedString + ' ago'
          }
          if (months > 0) {
              elapsedString += months + ' months ';
              return elapsedString + ' ago'
          }
          if (days > 0) {
              elapsedString += days + ' days ';
              return elapsedString + ' ago'
          }
          if (hours > 0) {
              elapsedString += hours % 24 + ' hours ';
              return elapsedString + ' ago'
          }
          if (minutes > 0) {
              elapsedString += minutes % 60 + ' minutes ';
              return elapsedString + ' ago'
          }
          if (seconds > 0) {
              elapsedString += seconds % 60 + ' seconds';
              return elapsedString + ' ago'
          }

          return 'now'
        }

        $("#add_tweet").click(function () {
          clearForm();
          const authenticated = document.querySelector('body').getAttribute('authenticated');
          if (authenticated === 'true') {
            toggleView();
          }
        });

        $("#clear_form").click(function () {
          clearForm();
        });

        $("#cancel_form").click(function () {
          clearForm();
          toggleView();
        });
    </script>
</body>
</html>