body {
    background-color: black;
    color: white
}



.nav,
.content-box,
.tweet,
.text,
#nav-search,
.nav-text,
.title {
    color: white;
}

.nav,
.navbar,
.box,
.content-box,
.tweet{
    background-color: rgb(50, 50, 50);
}

.add-button {
    background-color: #1E90FF;
}

#nav-search {
    background-color: #DCDCDC;
}

nav {
    border-bottom: 1px solid #adb1b4;
    margin-bottom: 10px;
}

img.tw-user-small,
video.tw-user-small {
    height: 40px;
}
 
img.tw-user-medium,
video.tw-user-medium {
    height: 50px;
}

#nav-search {
    border-radius: 20px;
}
 
.nav-button {
    border-radius: 20px;
    background-color: #1E90FF;
    color: #ffffff;
}

#logout {
    border-radius: 20px;
    background-color: #1E90FF;
    color: #ffffff;
}

.content-box {

    margin-bottom: 0px
}

#new-tweet-row {
    background-color: #eaf5fe;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tweet {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #DCDCDC;
}
 
.tweet-username {
    font-weight: bold;
}
 
.tweet-arrow {
    padding-right: 25px;
}
 
.tweet-text,
.tweet-media {
    padding-right: 10px;
}

.add-button {
    display: inline;
}

.bi {
    color: #1E90FF;
}

/* body {
    animation: color-loop 3s linear infinite;
    background-color: hsl(0 100% 50%);
  }
  
  @keyframes color-loop {
    0% {
        background-color: hsl(0 100% 50%);
    }
    8.33% {
        background-color: hsl(30 100% 50%);
    }
    16.67% {
        background-color: hsl(60 100% 50%);
    }
    25% {
        background-color: hsl(90 100% 50%);
    }
    33.33% {
        background-color: hsl(120 100% 50%);
    }
    41.67% {
        background-color: hsl(150 100% 50%);
    }
    50% {
        background-color: hsl(180 100% 50%);
    }
    58.33% {
        background-color: hsl(210 100% 50%);
    }
    66.67% {
        background-color: hsl(240 100% 50%);
    }
    75% {
        background-color: hsl(270 100% 50%);
    }
    83.33% {
        background-color: hsl(300 100% 50%);
    }
    91.67% {
        background-color: hsl(330 100% 50%);
    }
    100% {
        background-color: hsl(360 100% 50%);
    }
} */
  
  
  