html, body {
    background-color: gray;
    margin : 0;

    font-family: 'Fraunces', serif;;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: lightgray;
    text-align: center;
}

.sid {
    background-color: black;
    color: lightgray;
    text-align: center;
    position: sticky;
    top: 0;
}

.name {
    font-size: 100px;
    display: inline-block;
    letter-spacing: 3px;
    margin: 0;
    border: 0;
    padding: 0;
}
.pst {
    font-size: 50px;
    display: inline-block;
    letter-spacing: 12px;
    margin: 0;
    border: 0;
    padding: 0;
}
.std {
    font-size: 40px;
    letter-spacing: 10px;
    margin: 0;
    border: 0;
    padding: 0;
    padding-bottom: 10px;
}

.person {
   float: right;
   width: 30%;
   margin: 5%;
}

.clear {
    clear:both
}

.infomation {
    display: table;
    width: 40%;
    font-size: 30px;
    font-weight: 400;
}

.einfomation {
    display: table;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}
.col {
    display: table-cell;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.hx {
    text-decoration-line: underline;
    font-size: 40px;
    font-weight: 900;
}
.github {
    height: 30px;
}

.gcol {
    display: table-cell;
    text-align: right;
    padding-right: 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration-line: underline;
}


footer {
    background-color: rgb(90, 90, 90);
}



.scol {
    display: table-cell;
    text-decoration-line: underline;
    font-size: 50px;
    font-weight: 600;
    padding-left: 30px;
    color: lightgray;
}

.mcol {

    position: relative;
    display: table-cell;
    font-size: 45px;
    font-weight: 900;
    left: 20px;
    color: lightgray;
}

table {
    width: 100%;
}

.tableboarder {
    max-width: 700px;
    margin: auto;
    padding-bottom: 50px;
    
}

.midsch {
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    font-weight: 900;
    
}

tr {
    height: 30px;
}

th, .day{
    background-color: black;
    color: lightgray;
    height: 70px;
    border-radius: 30%;
}

.nt {
    color: rgb(90, 90, 90);
}

.event {
    border-style: solid;
    border-radius: 50%;
    border-width: 5px;
    border-color: lightgray;
}

.empty {
    background-color: rgb(90, 90, 90);
}
